build/
install/
log/
.vscode/

# Python virtual environments
.venv/
.venv-*/
venv/

# Python cache
__pycache__/
*.pyc

# YOLO / ML artifacts
*.pt
runs/

# Large datasets
datasets/visdrone_train_raw/
datasets/VisDrone2019-DET-val/
datasets/VisDrone2019-DET-val.zip
datasets/visdrone_yolo/images/
datasets/visdrone_yolo/labels/

# Generated images / test artifacts
bus.jpg
drone_frame.png

# ROS 2 build artifacts
drone_ws/build/
drone_ws/install/
drone_ws/log/
datasets/visdrone_yolo/test_image.jpg
